a {
    color: var(--color-a);
    &:hover { color: var(--color-a-hover); }
    &:visited { color: var(--color-a-visited); }
    &:visited:hover { color: var(--color-a-visited-hover); }
}

body {
	font-family: sans-serif;
    background-color: #f8f4ff; /* fallback for barebones css support */
	background-color: var(--color-bg);
    color: var(--color-fg);
}
h1 {
	text-align: center;
}
main, body > hr {
	max-width: 55em;
	margin: auto;
}
li {
	padding-bottom: 0.15em;
}
#controlPanel {
	position: fixed;
	bottom: 0;
	right: 0;
	background-color: #e4d4ff; /* fallback */
    background-color: light-dark(#e4d4ff, var(--color-bg-secondary));
	border: 0.2em solid #c19eff;
	margin: 1em;
	padding: 0.25em;
	border-radius: 1em;
}

img, video {
	max-width: 100%;
}

/*
.secondary {
    background-color: var(--color-bg-secondary);
    @media (prefers-contrast: more) {
        border: solid
    }
}
*/
